.projects-inner-container {
    // margin-top: 40px;
    display: grid;
    justify-content: center;
    grid-template-columns: auto auto auto;
    // background-color: rgba(32, 32, 32, 0.247);
    column-gap: 20px;
    row-gap: 20px;
    padding: 10px;
    // background-color: rgba(2, 2, 2, 0.699);
}
.project-card {
    // background-color: hsla(222, 92%, 5%, 0.801);
    box-shadow: rgba(50, 50, 93, 0.363) 0px 50px 50px -40px, rgba(32, 32, 32, 0.3) 0px 30px 30px -30px, rgba(15, 53, 92, 0.35) 0px -2px 6px 0px inset;
    width: 25vw;
    height: auto;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
}

@media only screen and (max-width: 815px) {
    .projects-inner-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .project-card {
        // border-top: 3px solid hsl(0, 0%, 6%);
        width: 70vw;
    }
    p {
        font-size: 12px;
    }
    .card-title {
        font-size: 19px;
    }
    // .card-description {

    // }

}


.delay-before {
    opacity: 0;
}
@for $i from 1 through 35 {
    .delay-#{$i} {
        opacity: 1;
        transition: #{$i / 10 + 0.2}s #{$i / 10 + 0.2}s;
    }
}