
.profile-pic {
    width: 32vh;
}

.header-text-center {
    margin-top: 70px;
}

.makeCenter {
    width: 50%;
    margin: 0 auto;
}
.codeblock {
    margin: 0 auto;
    width: 600px;
}
.icon {
    width: 100px !important;
}

.bg-info-nametitle {
    font-size: 40px !important;
}
@media only screen and (max-width: 650px) {

    .codeblock {
        margin: 0 auto;
        width: 400px;
        font-size: 12px;
    }
    .picture-container {
        width: 55vw;
    }
    .bg-info-description {
        width: 80vw ;
        font-size: 11px !important;
        font-weight: 600 !important;
    }
    .bg-info-nametitle {
        font-size: 30px !important;
    }
}
@media only screen and (max-width: 430px) {

    .codeblock {
        margin: 0 auto;
        width: 90vw;
        font-size: 11px;
    }
    #text {
        font-size: 8px;
    }
    .bg-info-description {
        width: 80vw ;
    }
    .bg-info-txt-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-right: 35px !important;
    }
}
@media only screen and (max-width: 338px) {

    .codeblock {
        margin: 0 auto;
        width: 90vw;
        font-size: 8px;
    }
    #text {
        font-size: 8px;
    }
}