.comment-header {
    font-size: 25px;
    margin-top: 20px;
    text-align: center;
}
@media only screen and (max-width: 380px) {
    .comment-header {
        font-size: 15px;
        font-weight: 1000;
    }
}