

.greetings {
    position: relative;
    width: 100%;
    height: 100vh;
}
.hidden {
    visibility: hidden;
    opacity: 0;
    transform: rotateZ(-45deg);
}
.cert-header {
    margin-top: 30px;
    text-align: center;
}
.center {
    opacity: 1;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-weight: 700;
    text-transform: uppercase;
    // font-family: 'Coolvetico';
    font-size: 30px;
    color: #fff;
    transition: 3s .7s;
}
.ziresh {
    opacity: 0;
    transform: translateY(100px);
    transition: 1s .1s ease-out;

}
.transition {
    transition: 1s .1s ease-in-out;
}
.landingPage {
    position: relative;


}

